.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | 
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title==' लॉग इन'?'active':undefined)
          a(href='http://127.0.0.1:3000') होम
     
  

      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') लॉग इन
          li(class=title=='Create Account'?'active':undefined)
            a(href='/signup') खाता बनाएं

        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | #{user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') मेरा खाता

              li.divider
              li
                a(href='/logout') लॉग आउट
